
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{ 
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 64px;
}
body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #4A4E69;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover{
  font-weight: 600;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: 1s ease;
}
img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
main{
  position: relative;
  margin-top: 10rem;
  min-height: calc(100vh - 185px);
}
.page-content{
  display: flex;
  flex-direction: column;
}
/* navbar */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 6rem;
  background-color: #22223B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo{
  user-select: none;
  width: 5rem;
  height: 3rem;
}
.hamburger{
  display: none;
}
.navigation{
  display: flex;
  align-items: center;
}
.navigation a{
  position: relative;
  font-size: 1rem;
  font-weight: 1000;
  margin-left: .5rem;
}
.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .login-btn {
  width: 6rem;
  height: 3rem;
  background: #fff;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
  transition: .5s;
}
.navigation .login-btn:hover{
  background-color: #ffffff00;
}
.login-btn a{
  color: #000;
}
.login-btn a:hover{
  color: #fff;
}
.logout-btn {
  width: 6rem;
  height: 3rem;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 1rem;
  background-color: darkred;
  color: #fff;
}
.logout-btn:hover {
  background-color: rgba(139, 0, 0, 0.623);
}
/* about-page */
.about-con{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.row-about{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
/* log-in-page */
.login-background{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./image/login-background.avif');
  background-size: cover;
}
.wrapper{
  position: relative;
  width: 35rem;
  height: 40rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.wrapper .form-box{
  width: 100%;
  padding: 3rem;
}
#loginForm, #registrationForm{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-box{
  position: relative;
  width: 100%;
  height: 5rem;
  border-bottom: 2px solid #000;
  margin: 1rem 0;
}
.input-box label{
  position: absolute;
  left: 3rem;
  transform: translateX(-50%);
  font-weight: 1000;
  font-size: 1rem;
  pointer-events: none;
  transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top: -2rem;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.input-box .icon{
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: #000;
}
/* .remember-form-login input{
  width: auto;
  agree form 
} */
.form-btn{
  width: 100%;
  height: 3rem;
  outline: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
}
/* Create & Edit page */
.form-card{ 
  font-weight: 1000;
  font-size: 1rem;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.scroll {
  overflow: scroll;
  overflow-x: hidden;
}


/* Carousel Images sliders*/
.carousel-con{
  display: flex; 
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1500px;
  cursor: pointer;
  color: #fff;
}
.image-slider{
  width: 100%;
  height: 100%;
}
.image-slider img{
  max-width: 100%;
  opacity: 0.3;
}
.mySlides {
  display: none;
}
.numbertext{
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
}
.carousel-body{
  max-height: 10rem;
  max-width: 10rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 50%;
}
.prev-btn, .next-btn{
  margin: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.3s ease;
  border-radius: .5em;
  user-select: none;
  background-color:rgba(204,204,204, 0.3);
  color: #fff;
}
.prev-btn:hover, .next-btn:hover{
  box-shadow: 0 0 5px #fff;
  border:1px solid #fff;
}
.next-btn{
  right: 3rem;
}
.prev-btn{
  left: 3rem;
}
.dot-con{
  position: absolute;
  bottom: 1rem;
}
.dot {
  cursor: pointer;
  bottom: 5%;
  height: 15px;
  width: 15px;
  margin: auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* all post  */
.blog-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5rem;
}
.blog {
  height: 100%;
  width: 300px;
  margin: 1rem;
  background-color: #F2E9E4;
  border: 1px solid #fff;
  border-radius: 5px;
}
.blog-body {
  padding: 1rem;
  font-weight: 600;
  color: #000;
}

.blog-btn {
  display: flex;
  gap: 1rem;
}
button {
  padding: 0.5rem;
  background-color: #22223B;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #4A4E69;
}
.overflow-con {
  overflow: hidden;
  text-overflow: ellipsis;
}
.clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  opacity: 0.8;
}
.date-text {
  opacity: 0.5;
}
.banner-con {
  display: flex;
  gap: 2rem;
}
.author-banner {
  display: flex;
  align-items: center;
}
.author-banner img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  object-fit: fill;
}

/* pagination */
.pagination{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  margin: 1rem
}
.pagination a{
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 2px solid #fff;
  font-weight: 900;
  color: #fff;
  background-color: #22223B;
}
.pagination a.active{
  background-color: #F2E9E4;
  color: #000;
}
.pagination a:hover:not(.active){
  background-color: #F2E9E4;
  color: #000;
}

/* footer */

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-color: #22223B;
}
.socials{
  display: flex;
  margin-top: 2rem;
}
.policy{
  display: flex;
  gap: 5rem;
}
.socials li{
  margin: 0 10px;
}
.socials a i{
  font-size: 2rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: #9A8C98;
}
.footer-bottom{
  background: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
/* Get single post & Read more */
/* Post/index */
.single-blog-con{
  display: flex;
  justify-content: center;
}
.read-more-blog {
  height: auto;
  max-width: 90rem;
  margin: 1rem;
  background-color: #F2E9E4;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 600;
}
.read-more-con-img {
  width: 100%;
}
.blog-body-read-more{
  padding: 1rem;
  word-wrap: break-word;
}
/* Policy */
.policy-container{
display: flex;
justify-content: center;
width: 100%;
}
.privacy{
  display: flex;
  background-color: #F2E9E4;
  width: 50rem;
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.row ul{
  list-style: circle;
}
/* loading edicatior */
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  /* -121 = top + bottom + element  */
  height: calc(100vh - 121px);
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }
  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@media screen and (max-width: 768px) {
  .blog-con{
    margin: 0.5rem;
  }
  .single-blog-con {
    margin: 0.5rem;
  }
  .blog {
    margin: 0.5rem auto;
  }
  .clamped-text {
    -webkit-line-clamp: 1;
  }
  /* Post/index */
  .read-more-blog{
    height: auto;
    width: 45rem;
  }
}

@media screen and (max-width: 480px) {
  /* nav */
  header{
    padding: 0 0;
    justify-content: space-around;
  }
  .logo{
    width: 4rem;
    height: 3rem;
  }
  .hamburger{
    display: block;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
    color: #fff;
  }
  .navigation{
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  }
  .navigation ul{
    display: block;
    width: fit-content; 
    margin: 1rem;
    text-align: center; 
    transition: 0.5;
  }
  .navigation ul li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .navigation.active{
  height: 15rem;
  }
/* --------------- */
  main{
    margin-top: 5rem;
  }
  .blog-con{
    margin: 0rem;
  }
  .blog {
    width: 20rem;
    margin: 0.5rem auto;
  }
  .clamped-text {
    -webkit-line-clamp: 1;
  }
  /* Post/index */
  .read-more-blog{
    height: auto;
    width: 23rem;
  }
  /* Carousel Images sliders*/
  .next-btn{
    right: 2rem;
  }
  .prev-btn{
    left: 2rem;
  }
  .dot-con{
    bottom: 1rem;
  }
  .prev-btn, .next-btn{
    top: auto;
    padding: 0.5rem;
  }
  .carousel-body{
    height: auto;
    width: 5rem;
  }
  /* footer */
  .policy{
    flex-direction: column;
    row-gap: 10px;
  }
  /* login & resgister */
  .wrapper{
    width: 20rem;
    height: 35rem;
  }
  .wrapper .form-box{
    padding: 1rem;
  }
  /* policy */
  .policy-container{
    margin-top: 8.5rem;
  }
}

