
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
}
  
ul{
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
}

nav ul li {
    margin-right:  1rem;
}
nav ul li a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}
.blog-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog{
    height: 100%;
    width: 300px;
    margin: 1rem;
    background-color: #3d3d3d;
    border: 1px solid #fff;
    border-radius: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#editPostForm, #createPostForm{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #585858;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
button:hover {
    background-color: #0056b3;
  }

.form-card{
    margin-bottom: 20px;
}
.scroll{
    overflow: scroll;
    overflow-x: hidden;
}


@media screen and (max-width: 768px){
    .blog{
        max-width: calc(100vw - 2rem);
        margin:1rem auto
    }
}

@media screen and (max-width: 480px){
    .blog{
        max-width: calc(100vw - 2rem);
        margin: 1rem auto;
    }
}